.main-style{
    height: 35px;
    border-radius: 35px;
    min-width: 35px;
    background-color: #F5C25A;
    padding: 0 10px 0 10px;
    // color: #A2A2A2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
}