.head-img {
    width: 80px;
    height: 80px;

    .head-img-up-div {
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.3;
    }

    .head-img-up {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        left: 50%;
    }
}

.head-img-div {
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.img-icon {
    width: 30px;
    height: 30px;
}